<div>
	<div class="form-group" ng-class="{ 'has-error': locale.hasError }">
		<input type="text" class="form-control" ng-model="locale.search"
				 ng-change="locale.findByKey(locale.search)"
				 ng-model-options="{ debounce: 500 }" placeholder="Enter xPath Query Here" />
		<small ng-if="locale.hasError" class="pull-right text-danger">Invalid Query!</small>
	</div>
	<button class="btn btn-default btn-sm" ng-repeat="query in locale.queries track by $index"
					ng-click="locale.findByKey(query.search); locale.search = query.search;">
		{{query.label}}
	</button>

	<div ng-if="!locale.hasError && locale.search" ng-repeat="language in locale.languages track by $index">
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>{{language | uppercase}}</strong></h3>
			</div>
			<div class="panel-body">
				<div class="form-group" ng-repeat="form in locale.bindings[language].forms track by $index">
					<div ng-if="form.hasInput">
						<label>{{form.label}}: </label>
						<input type="text" class="form-control input-sm" ng-model="form.value"
									 ng-change="locale.updateTranslations(form)"
									 ng-model-options="{ debounce: 500 }" />
					</div>
					<div ng-if="!form.hasInput">
						<div class="panel panel-default">
							<div class="panel-heading">
								<ng-form class="form-inline">
									<div class="form-group">
										<label>{{form.label}}.</label>
										<input type="text" class="form-control input-sm" ng-model="locale.newKey" placeholder="TRANSLATION_KEY" />
									</div>
									<div class="form-group">
										<label>&nbsp;  Value</label>
										<input type="text" class="form-control input-sm" ng-model="form.newValue" placeholder="Translated Value" />
									</div>
									<button type="submit" class="btn btn-primary btn-sm"
													ng-disabled="!form.newValue || !locale.newKey"
													ng-click="locale.writeObjectByKey(locale.translations[language], form)">
										Add
									</button>
								</ng-form>
							</div>
							<div class="panel-body">
								<div ng-if="form.isFlat">
									<div class="form-group" ng-repeat="(key, value) in form.value track by $index">
										<label>{{form.label}}.{{key}}</label>
										<div class="input-group">
											<input type="text" class="form-control input-sm" ng-model="value"
														 ng-change="locale.updateObject(locale.translations[language], form, key, value)"
														 ng-model-options="{ debounce: 500 }" />
											<span class="input-group-btn">
												<button type="button" tabindex="-1" class="btn btn-warning btn-sm"
																ng-click="locale.deleteObjectByKey(form, key)">
													Remove
												</button>
											</span>
										</div>
									</div>
								</div>
								<pre ng-if="!form.isFlat">{{form.value | json}}</pre>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
