<div>
	<div class="row">
		<div class="form-group" ng-class="{ 'has-error': locale.hasError }">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="locale.search"
						 ng-change="locale.findByKey(locale.search)"
						 ng-disabled="!locale.areTranslationsValid()"
						 ng-model-options="{ debounce: 500 }" placeholder="Enter xPath Query Here" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="locale.addFavourite(locale.search)">
						<span class="glyphicon" ng-class="{
							'glyphicon-star': !locale.isFavourited(locale.search),
							'glyphicon-star-empty': locale.isFavourited(locale.search)
						}"></span>
					</button>
				</div>
			</div>
			<small ng-if="locale.hasError" class="pull-right text-danger">Invalid Query!</small>
		</div>
		<button type="button" class="btn btn-default btn-sm"
						ng-repeat="query in locale.queries"
						ng-disabled="!locale.areTranslationsValid()"
						ng-click="locale.findByKey(query.search); locale.search = query.search;">
			{{query.label}}
		</button>
		<button type="button"
						ng-disabled="!locale.areTranslationsValid()"
	          class="btn btn-success pull-right btn-sm"
	          ng-click="locale.callbackSave($event)">
	    Save All Changes
	  </button>
	</div>

	<div class="row">
		<div class="checkbox pull-right">
			<label>
				<input type="checkbox" ng-model="locale.isAllCollapsed" ng-change="locale.collapseAll()" /> Expand All
			</label>
		</div>
	</div>

	<hr/>

	<accordion ng-if="!locale.hasError" close-others="false">
    <accordion-group ng-repeat="language in locale.languages track by language" is-open="locale.tabs[language].$isOpen">
      <accordion-heading>
        {{language | uppercase}} Dictionary
        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': locale.tabs[language].$isOpen, 'glyphicon-chevron-right': !locale.tabs[language].$isOpen}"></i>

        <div class="pull-right">
	    		<button type="button" tabindex="-1" class="btn btn-danger btn-xs" ng-if="locale.hasRemoveFn" ng-click="locale.callbackRemove(language, $event)">Remove</button>
        </div>
      </accordion-heading>

      <div class="form-group" ng-repeat="form in locale.bindings[language].forms">
      	<!-- Direct Access to Key -->
				<div ng-if="form.hasInput" ng-class="{ 'has-error': !form.value }">
					<label>{{form.label}}: </label>
					<input type="text" class="form-control input-sm" ng-model="form.value"
								 ng-change="locale.updateTranslations(form)"
								 ng-model-options="{ debounce: 500 }" required/>
					<small ng-if="!form.value" class="pull-right text-danger">Missing Translation!</small>
				</div>

				<!-- Inference of Translation Module -->
				<div ng-if="!form.hasInput">
					<div ng-if="locale.isEmpty(form.value)">
						<button type="button" tabindex="-1" class="btn btn-warning btn-sm pull-right"
										ng-click="locale.deleteObjectByKey(form)">
							Remove Empty Object
						</button>
					</div>
					<div class="panel panel-default">
						<div class="panel-body">
							<div ng-if="form.isFlat">
								<div class="form-group" ng-repeat="(key, value) in form.value">
									<label>{{form.label}}.{{key}}</label>
									<!-- String Fields -->
									<div ng-if="locale.isString(value)" class="input-group" ng-class="{ 'has-error': !form.value }">
										<input type="text" class="form-control input-sm" ng-model="value"
													 ng-change="locale.updateObject(locale.translations[language], form, key, value)"
													 ng-model-options="{ debounce: 500 }" required/>
  									<small ng-if="!form.value" class="pull-right text-danger">Missing Translation!</small>
										<pre ng-if="!locale.isString(value)">{{value | json}}</pre>
										<span class="input-group-btn">
											<button type="button" tabindex="-1" class="btn btn-warning btn-sm"
															ng-click="locale.deleteObjectByKey(form, key)">
												Delete
											</button>
										</span>
									</div>
									<!-- Object Field -->
									<div ng-if="!locale.isString(value)">
										<pre>{{value | json}}</pre>
										<button type="button" tabindex="-1" class="btn btn-warning btn-sm"
														ng-click="locale.deleteObjectByKey(form, key)">
											Delete
										</button>
									</div>
								</div>
							</div>
							<pre ng-if="!form.isFlat">{{form.value | json}}</pre>
						</div>

						<div class="panel-footer">
							<div class="row">
								<div class="col-md-4">
									<label>{{form.label}}.{{locale.newKey}}</label>
									<input type="text" class="form-control input-sm" ng-model="locale.newKey" placeholder="TRANSLATION_KEY" />
								</div>

								<div class="col-md-8">
									<label>
										Translated Value
									</label>
									<div class="input-group" ng-class="{ 'has-error': !form.value }">
										<input type="text" ng-if="!locale.insertNewObject[language]" class="form-control input-sm"
													 ng-model="form.newValue" placeholder="Translated Value" required/>
										<small ng-if="!form.value" class="pull-right text-danger">Missing Translation!</small>
										<span class="input-group-btn">
											<button type="button" class="btn btn-primary btn-sm"
															ng-disabled="(locale.insertNewObject[language] && !locale.newKey) || (!locale.insertNewObject[language] && !form.newValue || !locale.newKey)"
															ng-click="locale.writeObjectByKey(locale.translations[language], form)">
												Insert
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="checkbox">
										<label>
											<input type="checkbox" ng-model="locale.insertNewObject[language]"/> Insert As New Object
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="locale.search" class="checkbox">
				<label>
					<input type="checkbox" ng-model="locale.showAll[language]"/> Show Full Translation
				</label>
			</div>
			<pre ng-if="!locale.search || locale.showAll[language]">{{locale.translations[language] | json}}</pre>
    </accordion-group>
  </accordion>
</div>
